<footer class="footer flex p-4 bg-slate-900 text-white justify-center">
    <div class="flex-auto">
        <h2>API Tiketmaster | Django | Tailwind CSS</h2>
    </div>
    <div class="flex-auto justify-center">
        <ul class="flex-row">
            <li class="flex-row"><a href="https://www.linkedin.com/in/daniel-bonilla-866b4320a/"><box-icon name='linkedin-square' type='logo' color='#ffffff' ></box-icon></a></li>
            <li><a href="https://github.com/nakajito"><box-icon type='logo' color="#ffffff" name='github'></box-icon></a></li>
        </ul>
    </div>
    <div class="flex-auto">
        <p>&copy; 2025 Derechos reservados.</p>
        <p>API de Tiketmaster</p>
    </div>
</footer>
</body>
</html>